body {
    padding-top: 60px;
}

.footer {
    border-top: 1px solid #ccc;
    padding-top: 10px;  
    padding-bottom: 10px;
    text-align: center;    
}

.footer a{
    color: #376b96;
}

.footer img {
    max-width: 100%;
}

p {
    text-align: justify;
}

.push{
    height :51px;
}

.blue{
    color :#337ab7 !important;
}
a.blue:hover{
    color:#286090 !important;
}

.pushFooter{
    margin-bottom: 51px;
}

textarea, 
pre {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
}

.expandingArea {
  position: relative;
}

.expandingArea > textarea,
.expandingArea > pre {
  /* Make the text soft-wrap */
  white-space: pre-wrap;
  word-wrap: break-word;
  visibility: hidden;
  display: block;
}

.expandingArea > textarea {
  /* The border-box box model is used to allow
   * padding whilst still keeping the overall width
   * at exactly that of the containing element.
   */
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  /* This height is used when JS is disabled */
  height: 100px;
}

.expandingArea.active > textarea {
  /* Hide any scrollbars */
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  /* Remove WebKit user-resize widget */
  resize: none;
}

.expandingArea > pre {
  display: none;
}

.expandingArea.active > pre {
  display: block;
  /* Hide the text; just using it for sizing */
  visibility: hidden;
}