body {
    padding-top: 60px;
}

.footer {
	background: #EFEFEF;
	height: auto;
	padding-top: 5px;
	position: absolute;
	width: 100%;
    bottom:0;
    left:0;
	border-bottom: 1px solid #000000;
	border-top: 1px solid #000000;
}
.footer p {
	margin: 0;
}

.footer img {
	max-width: 100%;
}

p {
    text-align: justify;
}